.start-screen {
    max-width: 100%;
    height: 100vh;
    z-index: 0;
    
img {
width: 100vw;
height: 100vh;
    background-size: cover;
 
  
}

}

.start-screen-overlay {
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    h1 {
        color: rgb(249,84,40);
        -webkit-text-stroke: 1px rgb(247,178,57);
        font-size: 7em;
        
    }
    a {
        color: white;
    }
    p {
        color: white;
    }
    img {
        height: 32vh;
        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
            transform: scale(1.15);
            
        }
    }
}